.admin-dashboard-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }
  
  .admin-dashboard-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .admin-features {
    display: flex;
    flex-direction: column;
  }
  
  .admin-features a {
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
  }
  
  .admin-features a:hover {
    background-color: #0056b3;
  }